<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucdenver.bios.glimmpseandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application 
        android:icon="@drawable/ic_launcher_glimmpse"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Input Screen -->
        <activity android:name=".activity.StartActivity"></activity>
        
        <!-- About Us Screen -->
        <activity android:name=".activity.LearnMoreActivity"></activity>
        
         <!-- Tutorial Screen -->
         <activity android:name=".activity.TutorialActivity"></activity>
         
         <!-- Tutorial Screen -->
         <activity android:name=".activity.TabViewActivity"></activity>
                  
         <!-- Type I Error Tutorial Screen -->
         <activity android:name=".activity.TutorialSubScreenActivity"></activity>
         
         <!-- Number of Groups - Design Screen -->
         <activity android:name=".activity.design.GroupCountActivity"></activity>
         
         <!-- Type I Error - Design Screen -->
         <activity android:name=".activity.design.TypeIErrorActivity"></activity>
         
         <!-- Smallest Group Size - Design Screen -->
         <activity android:name=".activity.design.SmallestGroupSizeActivity"></activity>
         
         <!-- Solving For - Design Screen -->
         <activity android:name=".activity.design.SolvingForActivity"></activity>
         
         <!-- Means and Variance - Design Screen -->
         <activity android:name=".activity.design.MeansAndVarianceActivity"></activity>
         
    </application>

</manifest>